<phpunit>
    <testsuites>
        <testsuite name="Deposit">
            <directory suffix="Test.php">test/Deposit</directory>
        </testsuite>

        <testsuite name="Operation">
            <directory suffix="Test.php">test</directory>
        </testsuite>

        <!-- Test standalone Withdrawal -->
        <!-- <testsuite name="Withdrawal">
            <directory suffix="WithdrawalTest.php">test</directory>
        </testsuite>

        <testsuite name="Outputs">
            <directory suffix="OutputsTest.php">test</directory>
        </testsuite> -->
    </testsuites>
</phpunit>
